Repository GalOrrery/sampleSCF, changes with the labels that .github/labeler.yml gives for each.
All labels: GitHub, Notebooks, sampling, utils, tests, Docs

Add pre-commit
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: GitHub

run pre-commit fixups
  docs/conf.py
  pyproject.toml
  sample_scf/__init__.py
  sample_scf/_astropy_init.py
  sample_scf/conftest.py
  sample_scf/tests/__init__.py
  setup.py
Labels: tests, Docs

upload code coverage from tests
  .github/workflows/ci_tests.yml
Labels: GitHub

Basic import test
  .github/workflows/ci_tests.yml
  sample_scf/tests/test_init.py
Labels: GitHub, tests

include pytest in known third party
  pyproject.toml
Labels: none

SCF sampling code
  sample_scf/__init__.py
  sample_scf/_typing.py
  sample_scf/base.py
  sample_scf/core.py
  sample_scf/sample_exact.py
  sample_scf/sample_intrp.py
  sample_scf/utils.py
  setup.cfg
Labels: sampling, utils

run commit black and isort
  docs/conf.py
  pyproject.toml
  sample_scf/_typing.py
  sample_scf/base.py
  sample_scf/sample_exact.py
  sample_scf/sample_intrp.py
  sample_scf/utils.py
Labels: sampling, utils, Docs

prune unused imports
  sample_scf/utils.py
Labels: utils

start tests
  sample_scf/__init__.py
  sample_scf/core.py
  sample_scf/sample_intrp.py
  sample_scf/tests/test_utils.py
  sample_scf/utils.py
Labels: sampling, utils, tests

add data file
  sample_scf/tests/scf_coeffs.npz
  setup.cfg
Labels: tests

consolidate x_of_theta via singledispatch
  sample_scf/sample_exact.py
  sample_scf/sample_intrp.py
  sample_scf/utils.py
Labels: sampling, utils

isort
  sample_scf/utils.py
Labels: utils

prune imports
  sample_scf/base.py
  sample_scf/sample_intrp.py
  sample_scf/tests/test_base.py
  sample_scf/tests/test_core.py
  sample_scf/tests/test_sample_exact.py
  sample_scf/tests/test_sample_intrp.py
Labels: sampling, tests

more tests
  sample_scf/conftest.py
  sample_scf/tests/test_utils.py
  sample_scf/utils.py
Labels: utils, tests

outline remaining tests
  sample_scf/tests/test_base.py
  sample_scf/tests/test_core.py
  sample_scf/tests/test_sample_exact.py
  sample_scf/tests/test_sample_intrp.py
Labels: tests

Add more documentation
  sample_scf/base.py
  sample_scf/core.py
  sample_scf/sample_exact.py
  sample_scf/sample_intrp.py
Labels: sampling

prune imports
  sample_scf/tests/test_utils.py
  sample_scf/utils.py
Labels: utils, tests

more tests
  sample_scf/base.py
  sample_scf/conftest.py
  sample_scf/core.py
  sample_scf/sample_exact.py
  sample_scf/sample_intrp.py
  sample_scf/tests/test_base.py
  sample_scf/tests/test_sample_exact.py
  sample_scf/tests/test_sample_intrp.py
Labels: sampling, tests

test core
  sample_scf/tests/test_base.py
  sample_scf/tests/test_core.py
  sample_scf/tests/test_init.py
Labels: tests

rename to rv_potential
  sample_scf/base.py
  sample_scf/conftest.py
  sample_scf/core.py
  sample_scf/sample_exact.py
  sample_scf/sample_intrp.py
  sample_scf/tests/test_base.py
  sample_scf/tests/test_sample_exact.py
  sample_scf/tests/test_sample_intrp.py
Labels: sampling, tests

fixes
  sample_scf/tests/test_base.py
  sample_scf/tests/test_sample_intrp.py
Labels: tests

more tests
  sample_scf/core.py
  sample_scf/tests/test_base.py
  sample_scf/tests/test_core.py
  sample_scf/tests/test_sample_intrp.py
Labels: tests

loosen time for phi rvs
  sample_scf/tests/test_sample_intrp.py
Labels: tests

shape mismatch tests
  sample_scf/tests/test_sample_intrp.py
Labels: tests

start plot tests
  pyproject.toml
  sample_scf/conftest.py
  sample_scf/tests/test_base.py
  sample_scf/tests/test_sample_intrp.py
Labels: tests

more image tests
  sample_scf/tests/test_sample_exact.py
  sample_scf/tests/test_sample_intrp.py
Labels: tests

correct arg name
  sample_scf/base.py
  sample_scf/core.py
  sample_scf/sample_exact.py
Labels: sampling

more exact tests
  README.rst
  sample_scf/__init__.py
  sample_scf/base.py
  sample_scf/core.py
  sample_scf/exact.py
  sample_scf/interpolated.py
  sample_scf/sample_exact.py
  sample_scf/tests/common.py
  sample_scf/tests/test_base.py
  sample_scf/tests/test_core.py
  sample_scf/tests/test_exact.py
  sample_scf/tests/test_init.py
  sample_scf/tests/test_interpolated.py
  sample_scf/tests/test_sample_exact.py
  sample_scf/tests/test_utils.py
  sample_scf/utils.py
Labels: sampling, utils, tests

codestyle
  sample_scf/exact.py
  sample_scf/tests/test_exact.py
  sample_scf/tests/test_interpolated.py
Labels: tests

relax a test
  sample_scf/tests/test_base.py
Labels: tests

fix broadcasting
  sample_scf/base.py
  sample_scf/exact.py
  sample_scf/interpolated.py
  sample_scf/tests/test_base.py
  sample_scf/tests/test_exact.py
  sample_scf/utils.py
Labels: utils, tests

refactor
  .mypy.ini
  docs/sample_scf/index.rst
  sample_scf/__init__.py
  sample_scf/_typing.py
  sample_scf/base.py
  sample_scf/cdf_strategy.py
  sample_scf/conftest.py
  sample_scf/core.py
  sample_scf/exact.py
  sample_scf/exact/__init__.py
  sample_scf/exact/core.py
  sample_scf/exact/rvs_azimuth.py
  sample_scf/exact/rvs_inclination.py
  sample_scf/exact/rvs_radial.py
  sample_scf/exact/tests/test_exact.py
  sample_scf/interpolated.py
  sample_scf/interpolated/__init__.py
  sample_scf/interpolated/core.py
  sample_scf/interpolated/rvs_azimuth.py
  sample_scf/interpolated/rvs_inclination.py
  sample_scf/interpolated/rvs_radial.py
  sample_scf/interpolated/tests/test_interpolated.py
  sample_scf/tests/common.py
  sample_scf/tests/test_base.py
  sample_scf/tests/test_conftest.py
  sample_scf/tests/test_core.py
  sample_scf/tests/test_init.py
  sample_scf/tests/test_utils.py
  sample_scf/utils.py
  setup.py
Labels: utils, tests, Docs

codestyle
  sample_scf/base_multivariate.py
  sample_scf/base_univariate.py
  sample_scf/conftest.py
  sample_scf/exact/__init__.py
  sample_scf/exact/inclination.py
  sample_scf/exact/tests/test_core.py
  sample_scf/exact/tests/test_utils.py
  sample_scf/interpolated/azimuth.py
  sample_scf/interpolated/core.py
  sample_scf/interpolated/inclination.py
  sample_scf/interpolated/radial.py
  sample_scf/interpolated/tests/test_interpolated.py
  sample_scf/representation.py
  sample_scf/tests/base.py
  sample_scf/tests/data/__init__.py
  sample_scf/tests/data/data_Test_rv_potential.py
  sample_scf/tests/test_base_multivariate.py
  sample_scf/tests/test_base_univariate.py
  sample_scf/tests/test_conftest.py
  sample_scf/tests/test_core.py
  sample_scf/tests/test_representation.py
Labels: tests

push
  pyproject.toml
  sample_scf/_old/cdf_strategy.py
  sample_scf/_typing.py
  sample_scf/base_multivariate.py
  sample_scf/base_univariate.py
  sample_scf/conftest.py
  sample_scf/exact/azimuth.py
  sample_scf/exact/core.py
  sample_scf/exact/inclination.py
  sample_scf/exact/radial.py
  sample_scf/exact/tests/test_core.py
  sample_scf/exact/tests/test_exact.py
  sample_scf/exact/tests/test_utils.py
  sample_scf/interpolated/__init__.py
  sample_scf/interpolated/azimuth.py
  sample_scf/interpolated/core.py
  sample_scf/interpolated/inclination.py
  sample_scf/interpolated/radial.py
  sample_scf/interpolated/tests/test_interpolated.py
  sample_scf/representation.py
  sample_scf/tests/base.py
  sample_scf/tests/test_base_multivariate.py
  sample_scf/tests/test_base_univariate.py
  sample_scf/tests/test_conftest.py
  sample_scf/tests/test_core.py
  sample_scf/tests/test_representation.py
  sample_scf/utils.py
  tox.ini
Labels: utils, tests

update monthly
  .pre-commit-config.yaml
Labels: none

notes
  .gitignore
  docs/notes/sampling_scf.tex
Labels: Docs

notes (#19)
  .gitignore
  docs/notes/sampling_scf.tex
Labels: Docs

.github/labeler.yml:

# General Labels
GitHub:
  - .github/**/*

Notebooks:
  - notebooks/**/*

# Package Labels
sampling:
  - sample_scf/sample_*

utils:
  - sample_scf/utils.py

tests:
  - sample_scf/tests/**/*


# Docs Labels
Docs:
  - docs/**/*
